


/* __________________ Body __________________ */

h1, h2, h3, h4 {
    color:cornflowerblue;
    -webkit-text-stroke: 0.2px rgb(75, 73, 73);
    margin: 0;
    line-height: 1.5;
}

section {
    padding-left: 5px;
    
}

/* __________________ Header __________________ */
header h1 {
    padding-left: 5px;
    border-top: 2px solid cornflowerblue;
    border-left: 2px solid cornflowerblue;
    border-right: 2px solid cornflowerblue;
}
/* __________________ /Header/ __________________ */
/* __________________ Main __________________ */

main{
    border: 2px solid cornflowerblue;
}

main p {
    padding-bottom: 2px;
}

#sobre {
    margin: 0;
    line-height: 0.5;
    border-bottom: 2px solid cornflowerblue;
}

.datas {
    color:cornflowerblue;
    -webkit-text-stroke: 0.2px rgb(75, 73, 73);
}

.secaoDatas {        
    padding-bottom: 8px;
}

#secaoDados{
    border-top: 2px solid cornflowerblue;
}


/* __________________ /Main/ __________________ */
/* __________________ Footer __________________*/

footer {
    border-left: 2px solid cornflowerblue;
    border-right: 2px solid cornflowerblue;
    border-bottom: 2px solid cornflowerblue;
    padding-bottom: 8px;
}

footer h4 {
    margin: 0;
    line-height: 1.9;
}

footer p {
    margin: 0;
    line-height: 1.2;    
}
/* __________________ /Footer/ __________________*/
/* __________________ /Body/ __________________*/